In [1]:
# import libraries for this task
import pandas as pd
import numpy as np
import re
import warnings
warnings.simplefilter("ignore")

In [2]:
# load movies.csv and comment file and not load unnamed column
# df consider movies collection and df1 consider comment collection
df=pd.read_csv('movies.csv').iloc[:, 1:]
df1=pd.read_csv('comment.csv').iloc[:, 1:]
#show all columns and records
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# top 5 rows
df.head(2)

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic
0,573a1390f29313caabcd4135,Three men hammer on an anvil and pass a bottle...,['Short'],1.0,"['Charles Kayser', 'John Ott']",1.0,Blacksmith Scene,A stationary camera looks at a large anvil wit...,['USA'],1893-05-09,['William K.L. Dickson'],UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-26 00:03:50.133000000,1893,"{'rating': 6.2, 'votes': 1189, 'id': 5}",movie,"{'viewer': {'rating': 3.0, 'numReviews': 184, ...",NaN,NaN,NaN,NaN
1,573a1391f29313caabcd7fb7,The first film adaptation of Sir Arthur Conan ...,"['Adventure', 'Fantasy']",106.0,"['Bessie Love', 'Lewis Stone', 'Wallace Beery'...",NaN,The Lost World,Explorer Professor Challenger is taking quite ...,['USA'],1925-06-22,['Harry O. Hoyt'],UNRATED,"{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-26 00:55:12.337000000,1925,"{'rating': 7.1, 'votes': 3154, 'id': 16039}",movie,"{'viewer': {'rating': 3.5, 'numReviews': 3198,...",https://m.media-amazon.com/images/M/MV5BMzQxMj...,['Arthur Conan Doyle (based upon the novel by)...,NaN,NaN

In [3]:
# top 2 rows of comments collection
df1.head(2)

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb69579eb,Emily Ellis,emily_ellis@fakegmail.com,573a1390f29313caabcd432a,Iste molestiae animi minima quod ad. Corporis ...,1988-10-16 19:08:23
1,5a9427648b0beebeb6957a25,Osha,natalia_tena@gameofthron.es,573a1390f29313caabcd5181,Dolor inventore commodi eos ipsum earum vitae ...,1992-08-26 21:07:54

In [4]:
# dataframe movies_with_comments 
movies_with_comments=df[~(df['num_mflix_comments'].isna())]
movies_with_comments.sample(3)

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic
7024,573a139af29313caabcef1c0,A Basque priest finds by means of a cabalistic...,"['Action', 'Comedy', 'Crime']",99.0,"['èlex Angulo', 'Armando De Razza', 'Santiago ...",1.0,The Day of the Beast,A Basque priest finds by means of a cabalistic...,['Spain'],1998-12-23,['èlex de la Iglesia'],R,"{'wins': 15, 'nominations': 11, 'text': '15 wi...",2015-09-03 01:13:20.443000000,1995,"{'rating': 7.5, 'votes': 11616, 'id': 112922}",movie,"{'viewer': {'rating': 3.9, 'numReviews': 5730,...",https://m.media-amazon.com/images/M/MV5BZWRhMW...,"['Jorge Guerricaechevarrèa (screenplay)', 'èle...","['Spanish', 'Italian']",NaN
2404,573a1396f29313caabce336b,Film version of Jacqueline Susann's best-selli...,"['Drama', 'Music', 'Romance']",123.0,"['Barbara Parkins', 'Patty Duke', 'Paul Burke'...",3.0,Valley of the Dolls,"Anne Welles, a bright, brash young New England...",['USA'],1968-02-09,['Mark Robson'],PG-13,"{'wins': 0, 'nominations': 5, 'text': 'Nominat...",2015-08-24 00:53:10.430000000,1967,"{'rating': 5.8, 'votes': 4867, 'id': 62430}",movie,"{'viewer': {'rating': 3.3, 'numReviews': 5462,...",https://m.media-amazon.com/images/M/MV5BOTBiZT...,"['Jacqueline Susann (novel)', 'Helen Deutsch (...","['English', 'French']",NaN
3544,573a1397f29313caabce734c,This vampire spoof has Count Dracula moving to...,"['Comedy', 'Romance']",96.0,"['George Hamilton', 'Susan Saint James', 'Rich...",2.0,Love at First Bite,This vampire spoof has Count Dracula moving to...,['USA'],1979-04-27,['Stan Dragoti'],PG,"{'wins': 4, 'nominations': 3, 'text': 'Nominat...",2015-09-11 00:07:32.450000000,1979,"{'rating': 6.1, 'votes': 4093, 'id': 79489}",movie,"{'viewer': {'rating': 2.9, 'numReviews': 6518,...",https://m.media-amazon.com/images/M/MV5BMWM3Mj...,"['Robert Kaufman (screenplay)', 'Robert Kaufma...",['English'],NaN

In [5]:
# movies with no comments
movies_with_no_comments=df[df['num_mflix_comments'].isna()]
movies_with_no_comments.head(3)

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic
1,573a1391f29313caabcd7fb7,The first film adaptation of Sir Arthur Conan ...,"['Adventure', 'Fantasy']",106.0,"['Bessie Love', 'Lewis Stone', 'Wallace Beery'...",NaN,The Lost World,Explorer Professor Challenger is taking quite ...,['USA'],1925-06-22,['Harry O. Hoyt'],UNRATED,"{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-26 00:55:12.337000000,1925,"{'rating': 7.1, 'votes': 3154, 'id': 16039}",movie,"{'viewer': {'rating': 3.5, 'numReviews': 3198,...",https://m.media-amazon.com/images/M/MV5BMzQxMj...,['Arthur Conan Doyle (based upon the novel by)...,NaN,NaN
2,573a1390f29313caabcd6377,A rich young Easterner who has always wanted t...,"['Comedy', 'Western', 'Romance']",72.0,"['Douglas Fairbanks', 'Eileen Percy', 'Calvert...",NaN,Wild and Woolly,A rich young Easterner who has always wanted t...,['USA'],1917-06-24,['John Emerson'],NaN,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-06-05 00:40:35.137000000,1917,"{'rating': 6.9, 'votes': 388, 'id': 8775}",movie,NaN,NaN,"['Horace B. Carpenter (story)', 'John Emerson'...",['English'],NaN
8,573a1391f29313caabcd8a82,The life of a man and woman together in a larg...,"['Drama', 'Romance']",98.0,"['Eleanor Boardman', 'James Murray', 'Bert Roa...",NaN,The Crowd,"Born on the fourth of July, 1900, the future h...",['USA'],1928-03-03,['King Vidor'],NOT RATED,"{'wins': 3, 'nominations': 0, 'text': 'Nominat...",2015-08-08 00:30:05.023000000,1928,"{'rating': 7.9, 'votes': 5230, 'id': 18806}",movie,"{'viewer': {'rating': 4.2, 'numReviews': 2099}...",https://m.media-amazon.com/images/M/MV5BNjhhN2...,"['King Vidor (screen play)', 'John V.A. Weaver...",NaN,NaN

In [6]:
# create movies_with_no_comments.csv and save into a movies folder
movies_with_no_comments.to_csv('movies/movies_with_no_comments.csv',index = False)

In [7]:
# create two new columns low_runtime and high_runtime 
# create function gtfifty
def gtfifty(x):
    if x>50:
        return 'Yes'
    return 'No'
# create function ltfifty   
def ltfifty(x):
    if x>50:
        return 'No'
    return 'Yes'
movies_with_comments['low_runtime']=movies_with_comments['runtime'].apply(gtfifty)
movies_with_comments['high_runtime']=movies_with_comments['runtime'].apply(ltfifty)
# top 5 rows
movies_with_comments.head()

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic,low_runtime,high_runtime
0,573a1390f29313caabcd4135,Three men hammer on an anvil and pass a bottle...,['Short'],1.0,"['Charles Kayser', 'John Ott']",1.0,Blacksmith Scene,A stationary camera looks at a large anvil wit...,['USA'],1893-05-09,['William K.L. Dickson'],UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-26 00:03:50.133000000,1893,"{'rating': 6.2, 'votes': 1189, 'id': 5}",movie,"{'viewer': {'rating': 3.0, 'numReviews': 184, ...",NaN,NaN,NaN,NaN,No,Yes
3,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","['Short', 'Drama']",14.0,"['Frank Powell', 'Grace Henderson', 'James Kir...",1.0,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",['USA'],1909-12-13,['D.W. Griffith'],G,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",NaN,NaN,['English'],NaN,No,Yes
4,573a1390f29313caabcd5c0f,"The story of a poor young woman, separated by ...","['Drama', 'History']",197.0,"['Lillian Gish', 'Spottiswoode Aitken', 'Mary ...",1.0,Intolerance: Love's Struggle Throughout the Ages,Intolerance and its terrible effects are exami...,['USA'],1916-09-05,['D.W. Griffith'],NOT RATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-05 00:01:19.580000000,1916,"{'rating': 8.0, 'votes': 9880, 'id': 6864}",movie,"{'viewer': {'rating': 3.8, 'numReviews': 4718,...",https://m.media-amazon.com/images/M/MV5BZTc0Yj...,"['D.W. Griffith (scenario)', 'Anita Loos (titl...",NaN,NaN,Yes,No
5,573a1390f29313caabcd4323,"A young boy, opressed by his mother, goes on a...","['Short', 'Drama', 'Fantasy']",14.0,"['Martin Fuller', 'Mrs. William Bechtel', 'Wal...",2.0,The Land Beyond the Sunset,"Thanks to the Fresh Air Fund, a slum child esc...",['USA'],1912-10-28,['Harold M. Shaw'],UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 00:27:45.437000000,1912,"{'rating': 7.1, 'votes': 448, 'id': 488}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 53, '...",https://m.media-amazon.com/images/M/MV5BMTMzMD...,['Dorothy G. Shore'],['English'],NaN,No,Yes
6,573a1390f29313caabcd587d,"At 10 years old, Owens becomes a ragged orphan...","['Biography', 'Crime', 'Drama']",72.0,"['John McCann', 'James A. Marcus', 'Maggie Wes...",1.0,Regeneration,"At 10 years old, Owens becomes a ragged orphan...",['USA'],1915-09-13,['Raoul Walsh'],PASSED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-14 01:28:18.957000000,1915,"{'rating': 6.8, 'votes': 626, 'id': 5960}",movie,"{'viewer': {'rating': 3.4, 'numReviews': 395, ...",https://m.media-amazon.com/images/M/MV5BNDkxZG...,"['Owen Frawley Kildare (book)', 'Raoul Walsh (...",['English'],NaN,Yes,No

In [8]:
#  save file in movies folder
movies_with_comments.to_csv('movies/movies_with_comments.csv',index =False)

In [9]:
# get rating value from obj,dictionary and create new Rating column and nan values fill with 0.0
def fun(x):
    try:
        x=eval(x)
        x=x.get('rating')
        x=float(x)
    except :
        x=0.0

    return x
    
df['Rating']=df['imdb'].apply(fun)

In [10]:
# get win award value from obj,dictionary and create new TotalAwards column and nan values fill with 0
def fun(x):
    try:
        x=eval(x)
        x=x.get('wins')
        x=int(x)
    except :
        x=0

    return x
    
df['TotalAwards']=df['awards'].apply(fun)

In [11]:
# create function to convert str to int and handle invalid literal also
def contoint(x):
    try:
        return int(x)
    except:
        x=re.findall(r'\d+',x)[0]
        return int(x)
    
df['year']=df['year'].apply(lambda x : contoint(x))

In [12]:
df.head(2)

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic,Rating,TotalAwards
0,573a1390f29313caabcd4135,Three men hammer on an anvil and pass a bottle...,['Short'],1.0,"['Charles Kayser', 'John Ott']",1.0,Blacksmith Scene,A stationary camera looks at a large anvil wit...,['USA'],1893-05-09,['William K.L. Dickson'],UNRATED,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-26 00:03:50.133000000,1893,"{'rating': 6.2, 'votes': 1189, 'id': 5}",movie,"{'viewer': {'rating': 3.0, 'numReviews': 184, ...",NaN,NaN,NaN,NaN,6.2,1
1,573a1391f29313caabcd7fb7,The first film adaptation of Sir Arthur Conan ...,"['Adventure', 'Fantasy']",106.0,"['Bessie Love', 'Lewis Stone', 'Wallace Beery'...",NaN,The Lost World,Explorer Professor Challenger is taking quite ...,['USA'],1925-06-22,['Harry O. Hoyt'],UNRATED,"{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-26 00:55:12.337000000,1925,"{'rating': 7.1, 'votes': 3154, 'id': 16039}",movie,"{'viewer': {'rating': 3.5, 'numReviews': 3198,...",https://m.media-amazon.com/images/M/MV5BMzQxMj...,['Arthur Conan Doyle (based upon the novel by)...,NaN,NaN,7.1,1

In [13]:
# Using movies collection fetch all movies having imdb rating > 8 and released on or after
# year 2000 with more than 3 awards in ascending order of released.Save the dataframe
# in movies directory with filename movies_rating_8_released_aft_2000.csv
filterdata=df[(df['Rating']>8) & (df['year'] >=2000) & (df['TotalAwards']>3)]
filterdata.head(2)

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,directors,rated,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic,Rating,TotalAwards
7836,573a139af29313caabcf0782,"Two neighbors, a woman and a man, form a stron...","['Drama', 'Romance']",98.0,"['Maggie Cheung', 'Tony Chiu Wai Leung', 'Ping...",1.0,In the Mood for Love,"Set in Hong Kong, 1962, Chow Mo-Wan is a newsp...","['Hong Kong', 'China']",2001-03-09,['Kar Wai Wong'],PG,"{'wins': 49, 'nominations': 33, 'text': 'Nomin...",2015-09-15 05:14:09.273000000,2000,"{'rating': 8.1, 'votes': 67663, 'id': 118694}",movie,{'website': 'http://www.wkw-inthemoodforlove.c...,https://m.media-amazon.com/images/M/MV5BYjZjOD...,['Kar Wai Wong'],"['Cantonese', 'Shanghainese', 'French']",85.0,8.1,49
8318,573a139af29313caabcf0f07,A meek hobbit of the Shire and eight companion...,"['Adventure', 'Fantasy']",178.0,"['Alan Howard', 'Noel Appleby', 'Sean Astin', ...",381.0,The Lord of the Rings: The Fellowship of the Ring,An ancient Ring thought lost for centuries has...,"['New Zealand', 'USA']",2001-12-19,['Peter Jackson'],PG-13,"{'wins': 114, 'nominations': 100, 'text': 'Won...",2015-08-31 00:05:39.967000000,2001,"{'rating': 8.8, 'votes': 1109724, 'id': 120737}",movie,{'website': 'http://www.lordoftherings.net/fil...,https://m.media-amazon.com/images/M/MV5BN2EyZj...,"['J.R.R. Tolkien (novel)', 'Fran Walsh (screen...","['English', 'Sindarin']",92.0,8.8,114

In [14]:
# change datatype of  realeased column into datetime 
filterdata['released']=  pd.to_datetime(filterdata['released'])
filterdata=filterdata.sort_values('released',ascending=True)

In [15]:
# create csv file and drop that column which i made for filtering
filterdata.drop(['TotalAwards','Rating'],axis=1,inplace=True)
filterdata.to_csv('movies/movies_rating_8_released_aft_2000.csv',index=False)

In [16]:
# Using movies collection, create a new dataframe released_outside_usa where countries
# value should not be equal to USA . Save the dataframe in movies directory with filename
# released_outside_usa.csv 
# get country value from obj,list and create column Countries fill usa with nan in that column
def fun(x):
    try: 
        
        if 'USA' in x:
            x=np.nan
        else:
            x=x
            
    except :
        x=np.nan
    

    return x
    
df['Countries']=df['countries'].apply(fun)



# released_outside_usa=

In [17]:
released_outside_usa=df[~(df['Countries'].isna())]

In [18]:
# drop that column which i made 
released_outside_usa.drop(['Countries','TotalAwards','Rating'],axis=1,inplace=True)

In [19]:
# save file
released_outside_usa.to_csv('movies/released_outside_usa.csv',index=False)